* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
}
/* Common */

a {
    text-decoration: none;
}

img {
    display: block;
}

input,
button {
    outline: none;
    border: none;
}

.container {
    width: 117rem;
    max-width: calc(100vw - 4.8rem);
    margin-left: auto;
    margin-right: auto;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    --height: 5.8rem;
    --background-color-primary: #212832;
    --background-color-hover: #7264d6;

    display: inline-block;
    border-radius: 0.6rem;
    background: var(--background-color-primary);
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    width: 11.3rem;
    line-height: var(--height);
    transition: background 0.2s;
}

.btn:hover {
    background: var(--background-color-hover);
    cursor: pointer;
}

.section-label {
    display: inline-flex;
    align-items: center;
    color: #696d77;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.section-label::before {
    margin-right: 1.2rem;
    content: "";
    display: inline-block;
    background: #696d77;
    width: 1.8rem;
    height: 0.2rem;
}

.section-heading {
    margin: 1.2rem 0 1.9rem;
    color: #212832;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
}

.section-desc {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

/* Header */

.header {
    padding-top: 3.4rem;
    background: #fff;
}

.header-fixed {
    position: sticky;
    top: -3.4rem;
    z-index: 99;
}

.header__inner {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
}

.nav {
    margin-left: 4.9rem;
    display: flex;
    align-items: center;
}

.nav__link {
    padding: 0.8rem 2.4rem;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.nav__link.nav__link--active,
.nav__link:not(.nav__link--active):hover {
    color: #212832;
    text-shadow: 0.01rem 0.01rem 0 currentColor,
        -0.01rem -0.01rem 0 currentColor;
}

.nav__link.nav__link--active {
    position: relative;
}

.nav__link.nav__link--active::after {
    content: "";
    position: absolute;
    bottom: 0.8rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 4.8rem);
    height: 0.1rem;
    border-radius: 10rem;
    background-color: #7264d6;
}

.header__action {
    margin-left: auto;
}

.header__btn--login {
    display: inline-block;
    margin-right: 2.8rem;
    color: #212832;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
    transition: color 0.2s;
}

.header__btn--login:hover {
    color: #7264d6;
}

.header__btn--signup {
    --height: 5.2rem;
}

/* Hero */
.hero {
    padding: 7rem 0 16rem;
}

.hero__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero__content {
    width: 54rem;
}

.hero__heading {
    font-size: 6rem;
    line-height: 7rem;
}

.hero__heading strong {
    color: #7264d6;
}

.hero__desc {
    margin-bottom: 4rem;
}

.hero__input--wrapper {
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    padding: 0.8rem;
    box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}

.hero__input--input {
    width: 100%;
    padding: 2rem 2.3rem;
    border-radius: 0.8rem;
    font-size: 1.6rem;
    color: #212832;
}

.hero__input--input::placeholder {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.hero__input--btn {
    --background-color-primary: #7264d6;
    --background-color-hover: #212832;

    width: 14.9rem;
    flex-shrink: 0;
}

.hero__note {
    margin-top: 2rem;
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.hero__media {
    position: relative;
}

.phone {
    margin-left: 10rem;
    position: relative;
    padding: 4rem 1.1rem 3rem;
    width: 29.6rem;
    border-radius: 4rem;
    border: 12px solid #212832;
    background: #fff;
}

.phone::before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 14.4rem;
    height: 3.6rem;
    border-radius: 0rem 0rem 1.8rem 1.8rem;
    background: #3c2f60;
    z-index: 1;
}

.credit-card {
    position: relative;
    padding: 1.6rem;
    border-radius: 2rem;
    background: #7b6fd0;
    color: #fff;
    line-height: normal;
}

.credit-card__top--wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.credit-card__title {
    font-size: 1.4rem;
    font-weight: 400;
}

.credit-card__balance {
    font-size: 2.2rem;
    font-weight: 700;
}

.credit-card__info--wrapper {
    margin-top: 3.2rem;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem 1.2rem;
    position: relative;
    z-index: 1;
}

.credit-card__info-item {
    font-size: 1rem;
    font-weight: 400;
}

.credit-card__info-item--bold {
    font-size: 1.2rem;
    font-weight: 600;
}

.credit-card__decor {
    position: absolute;
}

.credit-card__decor:nth-of-type(1) {
    top: 0;
    left: 0;
    border-top-left-radius: 2rem;
}

.credit-card__decor:nth-of-type(2) {
    right: 0;
    bottom: 0;
    border-bottom-right-radius: 2rem;
}

.phone__transections {
    margin-top: 2.4rem;
}

.transections__header,
.transection-item {
    display: flex;
    align-items: center;
}

.transections__header {
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.8rem;
}

.transections__heading {
    color: #31456a;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: normal;
}

.transection-item + .transection-item {
    margin-top: 2.8rem;
}

.transection__icon {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 1rem;
}

.transection-item:nth-of-type(1) .transection__icon {
    background: #4ab5e326;
}

.transection-item:nth-of-type(2) .transection__icon {
    background: #da646426;
}

.transection-item:nth-of-type(3) .transection__icon {
    background: #439f9026;
}

.transection-item:nth-of-type(4) .transection__icon {
    background: #7264d626;
}

.transection-item__info {
    margin-left: 1.4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.transection__top,
.transection__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transection__top {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.transection__bottom {
    margin-top: 0.6rem;
    color: #696d76;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.card__deposite,
.card__interest,
.card__secured {
    position: absolute;
    display: flex;
    align-items: center;
    max-width: fit-content;
}

.card__deposite {
    top: 11.5rem;
    left: 0;
    padding: 1.4rem 1rem;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}

.card__deposite--title {
    margin: 0 1.9rem 0 0.8rem;
    color: #31456a;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1; /* 100% */
}

.card__deposite--money {
    color: #4ab5e3;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1; /* 100% */
}

.card__interest {
    top: 12.3rem;
    right: 0;
    max-width: initial;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    background: #da6464;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    line-height: 1;
}

.card__interest--rate {
    font-size: 4.4rem;
    font-weight: 600;
}

.card__interest--title {
    font-size: 1.6rem;
    font-weight: 400;
}

.card__secured {
    right: 11rem;
    bottom: 6.1rem;
    padding: 2.1rem 1.5rem;
    border-radius: 1rem;
    background: #439f90;
}

.card__secured--info {
    margin-left: 1.1rem;
    color: #fff;
    line-height: 1;
}

.card__secured--money {
    font-size: 1.4rem;
    font-weight: 600;
}

.card__secured--title {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: 400;
}

/* Works */

.work {
    margin-bottom: 16rem;
}

.work__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.work__media {
    position: relative;
    max-width: 47rem;
}

.work__media--img {
    margin: 0 auto;
    position: relative;
    width: 45.6rem;
    height: 61.9rem;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}
.work__media--background,
.work__media--icon,
.work__card {
    position: absolute;
}

.work__media--background {
    bottom: 0;
    left: 0;
}

.work__media--icon {
    top: 7.6rem;
    right: 5.5rem;
}

.work__card {
    width: 22.6rem;
    font-family: Inter, sans-serif;
    right: -10rem;
    bottom: 9.6rem;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-radius: 0.8rem;
    background: #fffdfa;
    box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.work__card--icon--wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 0.6rem;
    background: #4ab5e3;
}

.work__card--icon--wrapper::after {
    content: "";
    position: absolute;
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #fff;
}

.work__card--icon {
    z-index: 1;
}

.work__card--info {
    margin-left: 1rem;
}

.work__card--title {
    color: #212832;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: normal;
}

.work__card--desc {
    margin-top: 0.5rem;
    color: #696d76;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.work__content {
    margin-left: 10rem;
    max-width: 47rem;
}

.work__heading {
    margin-bottom: 7rem;
}

.work__heading--sub {
    margin-top: 3rem;
    color: #212832;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.45; /* 145.455% */
}

.work__desc {
    margin-top: 1.6rem;
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem; /* 175% */
}

/* Payments */

.payments__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.payments__content {
    max-width: 47rem;
}

.payments__features {
    margin: 2.8rem 0 3.8rem;
}

.payments__features-item {
    display: flex;
    align-items: center;
    margin-top: 1.8rem;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.payments__features-item::before {
    content: "";
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    margin-right: 1.2rem;
    background-color: #7264d6;
}

.payments__btn {
    width: 14.9rem;
}

.payments__media {
    position: relative;
}

.payments__media .credit-card {
    width: 48.2rem;
    margin-left: 1rem;
    padding: 3.8rem;
    border-radius: 2rem;
    background: #8476e3;
}

.payments__media .credit-card__title {
    font-size: 2.4rem;
    font-weight: 400;
}

.payments__media .credit-card__balance {
    font-size: 3.2rem;
    font-weight: 700;
    position: relative;
    z-index: 1;
}

.payments__media .credit-card__info--wrapper {
    margin-top: 9.8rem;
    gap: 0.4rem 2.6rem;
}

.payments__media .credit-card__info-item {
    font-size: 2rem;
    font-weight: 400;
}

.payments__media .credit-card__info-item--bold {
    font-size: 2.2rem;
    font-weight: 600;
}

.payments__card--top {
    position: absolute;
    top: -4.8rem;
    right: 0;
    width: 27.6rem;
    border-radius: 1.2rem;
    background: #fff;
    box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.payments__card--top .transection-item {
    padding: 2.3rem 1.3rem;
}

.payments__card--top .transection-item:nth-of-type(1) .transection__icon {
    background: #da646426;
}

.payments__card--top .transection__top {
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.payments__card--top .transection__desc--large {
    font-size: 1.6rem;
}

.payments__card--top .transection__bottom {
    margin-top: 0.5rem;
    font-family: Inter, sans-serif;
}

.payments__card--bottom {
    position: absolute;
    right: 0;
    bottom: -5.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5rem;
    width: 12rem;
    height: 12rem;
    border-radius: 1.6rem;
    background: #439f90;
}

.payments__card--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 0.8rem;
    background: #fff;
}

.payments__card--title {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: normal;
}

.payments__card--fee {
    color: #fff;
    color: #fff;
    font-family: Open Sans;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Transfer */
.transfer {
    padding: 16rem 0;
}

.transfer__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.transfer__inner .work__media--img {
    width: 41.3rem;
    height: 60rem;
}

.transfer__inner .payments__content {
    margin-left: 10rem;
}

.transfer__media--icon--wrapper {
    position: absolute;
    right: -10rem;
    bottom: 22.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    background: #7264d6;
    z-index: 2;
}

.transfer__type-card {
    position: absolute;
    right: -7.4rem;
    bottom: 5.7rem;
    padding: 2.8rem;
    background: #fff;
    border-radius: 0.8rem;
    fill: #fff;
    filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
    z-index: 1;
}

.transfer__type--title {
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.transfer__type--branch--wrapper {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.transfer__type--branch,
.transfer__type--more {
    width: 6.3rem;
    height: 4.8rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2fa;
}

.transfer__type--branch:hover {
    background: #eae2ff;
}

.transfer__type--more {
    background: #f9ea63;
}

.transfer__type--more:hover {
    background: #fff27c;
}

/* Feedback */
.feedback {
}

.feedback__inner {
    display: flex;
    flex-direction: column;
}

.feedback__header {
    max-width: 43.5rem;
    text-align: center;
    margin: 0 auto;
}

.feedback__header--desc {
    font-size: 1.6rem;
    line-height: 1.75;
}

.feedback__list {
    display: flex;
    overflow-x: hidden;
}

.feedback__items-group {
    --widen: calc((100vw - 117rem) / 2);

    margin: 7rem var(--widen) 3.8rem;
    display: flex;
    column-gap: 3rem;
    flex-shrink: 0;
    /* transform: translateX(calc(-100% - var(--widen) * 2)); */
    transition: transform 0.9s;
}

.feedback__item {
    width: 57rem;
    display: flex;
    flex-direction: column;
}

.feedback__item--desc {
    position: relative;
    background: #fff;
    border-radius: 1rem;
    padding: 4.2rem 2.8rem;
    margin-bottom: 8.6rem;
    color: #696d76;
    text-align: center;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54; /* 154.545% */
    fill: #fff;
    -webkit-filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.07))
        drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.07));
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.07))
        drop-shadow(-1px -1px 1px rgba(0, 0, 0, 0.07));
    transition: filter 0.3s;
}

.feedback__item--desc:hover {
    filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
    cursor: pointer;
}

.feedback__item--desc::after {
    content: "";
    position: absolute;
    display: block;
    bottom: -3.3rem;
    left: 50%;
    width: 7rem;
    height: 7rem;
    translate: -50% 0;
    rotate: 50deg;
    transform: skew(10deg);
    background-color: inherit;
    border-radius: 0.5rem;
}

.feedback__client--avt--wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 10.4rem;
    height: 10.4rem;
    border-radius: 50%;
    margin: 0 auto;
    background-color: #4ab5e3;
    overflow: hidden;
}

.feedback__item:nth-child(2) .feedback__client--avt--wrapper {
    background: #439f90;
}

.feedback__client--avt {
    width: 9.4rem;
    height: 9.4rem;
    object-fit: cover;
    object-position: center;
}

.feedback__client--info {
    text-align: center;
}

.feedback__client--name {
    margin: 2rem 0 0.2rem;
    color: #070052;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}

.feedback__client--position {
    color: #696d76;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.feedback__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.2rem;
}

.feedback__dot {
    width: 2.2rem;
    height: 0.6rem;
    border: 0.1rem solid #9b9fab;
    border-radius: 0.1rem;
    background: transparent;
    transition: border-color, background;
    transition-duration: 0.2s;
}

.feedback__dot:hover {
    border-color: #7264d6;
    cursor: pointer;
}

.feedback__dot--active {
    border-color: #7264d6;
    background: #7264d6;
}

/* Blogs */
.blog {
    padding: 16rem 0;
}

.blog__header--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__header {
    width: 43.5rem;
}

.blog__header--desc {
    font-size: 1.6rem;
    line-height: 1.75;
}

.blog__btn {
    width: 12.3rem;
}

.blog__list {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.blog__item {
    display: flex;
    align-items: center;
    padding: 2.8rem;
    border-radius: 1.2rem;
    border: 1px solid #dfe2e8;
    background: #fff;
    transition: box-shadow, border;
    transition-duration: 0.3s;
}

.blog__item:hover {
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
    border-color: transparent;
    cursor: pointer;
}

.blog__item:hover .blog__item--link {
    color: #7264d6;
}

.blog__item--info {
    margin-left: 2.2rem;
}

.blog__item--img {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    object-position: center;
    border-radius: 1.2rem;
}

.blog__item--date {
    color: #696d76;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
}

.blog__item--title {
    margin: 1rem 0 2rem;
    width: 33.2rem;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.blog__item--link {
    color: #696d76;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.62; /* 162.5% */
    transition: color 0.3s;
}

/* CTA */
.cta {
    margin-bottom: 10rem;
}

.cta__inner {
    position: relative;
    padding: 10rem 0;
    border-radius: 2.4rem;
    background: #7264d6;
}

.cta__label,
.cta__title,
.cta__desc {
    color: #fff;
    text-align: center;
}

.cta__label {
    display: flex;
    justify-content: center;
}

.cta__label::before {
    background: #fff;
}

.cta__desc {
    margin: 0 auto;
    width: 43.5rem;
    font-size: 1.6rem;
    line-height: 1.75;
}

.cta__apps--wrapper {
    margin-top: 3.8rem;
    display: flex;
    column-gap: 1.6rem;
    justify-content: center;
}

.cta__app--link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1.8rem 3.1rem;
    border-radius: 0.6rem;
}

.cta__decor {
    position: absolute;
}

.cta__decor:nth-of-type(1) {
    top: 4.9rem;
    left: 11.2rem;
}

.cta__decor:nth-of-type(2) {
    top: 4.9rem;
    right: 11.2rem;
}

.cta__decor:nth-of-type(3) {
    bottom: 4.9rem;
    left: 16.6rem;
}

.cta__decor:nth-of-type(4) {
    bottom: 4.9rem;
    right: 16.6rem;
}

/* Footer */
.footer {
    background: #fafbff;
}

.footer__top {
    padding: 10rem 0 5.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    column-gap: 16.3rem;
}

.footer__column--title {
    margin-bottom: 2.4rem;
    color: #212832;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66; /* 166.667% */
}

.footer__column--item,
.footer__column--address {
    display: inline-block;
    margin-top: 1.2rem;
    white-space: nowrap;
    color: #6a6e78;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
}

.footer__column--item:hover {
    color: #4a4d54;
    text-decoration: underline 0.1rem;
}

.footer__column--address {
    white-space: initial;
    width: 37.1rem;
    margin-bottom: 4.8rem;
}

.footer__input--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__input--input {
    border-radius: 0.6rem;
    border: 1px solid #8e919a;
    padding: 1.2rem 3rem 1.2rem 1.2rem;
    color: #212832;
}

.footer__input--input,
.footer__input--input::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.footer__input--input::placeholder {
    color: #8e919a;
}

.footer__submit {
    --height: 5.2rem;
    --background-color-hover: #212832;
    --background-color-primary: #7264d6;
}

.footer__bottom {
    margin-bottom: 2.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 10rem;
}

.footer__bottom--contact {
    color: #6a6e78;
    text-align: justify;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66; /* 166.667% */
    text-decoration: underline 0.1rem;
}

.footer__bottom--contact:hover {
    color: #4a4d54;
}

.footer__copyright {
    background-color: #7264d6;
    padding: 2.8rem 0;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}
